<body>
    <div class="container">
        <div class="logo">
            <img src="../../../assets/elmejorenvio (1).png" alt="">
        </div>
        <a href="https://elmejorenvio.com.ar/home" id="button2">Volver</a>
        <a href="https://elmejorenvio-solicitud-transporte.netlify.app/" id="button3">Solicitar Transporte</a>
        <h5>
            * El importe obtenido de cada cotizacion es meramente informativo, la aceptacion o no de los mismos depende exlusivamente de cada transportista. <br>
            * Los resultados obtenidos a traves de las calculadoras deben utilizarse para poder generar una oferta estimativa en la solicitud del transporte. La cual no implica aceptacion de la misma por parte de los transportistas.
        </h5>
        <br>
    </div>
</body>