.logo{
    max-width: 120px;
}
body{
    background-color: rgb(243, 248, 252);
}

.botones{
margin-left: 30px;
margin-top: -50px;
display: grid;
grid-column: auto;
}

#button2{
    font-size: 18px;
    font-weight: 600;
    border: none;
    background: rgb(85, 218, 212);
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #18181849;
    cursor: pointer;
    transition: box-shadow 500ms;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 150px;
    margin: 20px;
    padding-left: 45px;
}

#button3{
    font-size: 18px;
    font-weight: 600;
    border: none;
    background: #FEBA0B;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #18181849;
    cursor: pointer;
    transition: box-shadow 500ms;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 220px;
    margin-left: 18px;
    padding-left: 20px;
}
img{
    width: 200px;
    margin-left: 20px;
    margin-top: -30px;
}